In [3]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [4]:
# Convert data to dataframe
lung_df = pd.read_csv(os.path.join("Resources", "CDC_Cancer.csv"))
lung_df.head()

,State,State Code,Year,Year Code,Sex,Sex Code,Race,Race Code,Age Group,Age Group Code,Deaths
0,Alabama,1,2007,2007,Female,F,Black or African American,2054-5,50-54 years,50-54,22
1,Alabama,1,2007,2007,Female,F,Black or African American,2054-5,55-59 years,55-59,18
2,Alabama,1,2007,2007,Female,F,Black or African American,2054-5,60-64 years,60-64,30
3,Alabama,1,2007,2007,Female,F,Black or African American,2054-5,65-69 years,65-69,24
4,Alabama,1,2007,2007,Female,F,Black or African American,2054-5,70-74 years,70-74,27

In [6]:
# Get rid of unnecessary columns
lung_df = lung_df.drop(["State Code", "Year Code", "Sex Code", "Race Code", "Age Group"], axis=1)
lung_df = lung_df.rename(columns = {"Age Group Code":"Age Group"})
lung_df.head()

     State  Year     Sex                       Race Age Group  Deaths
0  Alabama  2007  Female  Black or African American     50-54      22
1  Alabama  2007  Female  Black or African American     55-59      18
2  Alabama  2007  Female  Black or African American     60-64      30
3  Alabama  2007  Female  Black or African American     65-69      24
4  Alabama  2007  Female  Black or African American     70-74      27